<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inicik</button-header-left>
    Mart
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Pàgina C</h1>
	
	<p>
	Marte es el cuarto planeta del Sistema Solar más cercano al Sol. Llamado así por el dios de la guerra de la mitología romana Marte,
	recibe a veces el apodo de planeta rojo debido a la apariencia rojiza que le confiere el óxido de hierro que domina su superficie.
	Tiene una atmósfera delgada formada por dióxido de carbono, y dos satélites: Fobos y Deimos. Forma parte de los llamados planetas 
	telúricos (de naturaleza rocosa, como la Tierra) y es el planeta interior más alejado del Sol. Es, en muchos aspectos, el más
	parecido a la Tierra.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('jupiter')">Jupiter</button>
	
	</div>	
	
</jsv-content>
