<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inicik</button-header-left>
    Mercuri
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
		
		<img src="http://www.elpuntocritico.com/images/fotos2014/0520/astro-Mercurio.png" alt="Foto Mercuri" width="300" height="300">
	
		<h1 class="paddingFull10">Mercuri</h1>
	
	<p>Mercurio es el planeta del Sistema Solar más próximo al Sol y el más pequeño.
	Forma parte de los denominados planetas interiores o terrestres y carece de satélites. 
	Se conocía muy poco sobre su superficie hasta que fue enviada la sonda planetaria Mariner 10 
	y se hicieron observaciones con radar y radiotelescopios.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('venus')">Venus</button>
	
	</div>	
	
</jsv-content>
