<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inicik</button-header-left>
    Saturn
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Pàgina C</h1>
	
	<p>
Saturno es el sexto planeta del Sistema Solar, el segundo en tamaño y masa después de Júpiter y el único con un sistema de anillos visible
desde nuestro planeta. Su nombre proviene del dios romano Saturno. Forma parte de los denominados planetas exteriores o gaseosos.
El aspecto más característico de Saturno son sus brillantes anillos. Antes de la invención del telescopio, Saturno era el más lejano de
los planetas conocidos y, a simple vista, no parecía luminoso ni interesante. El primero en observar los anillos fue Galileo en 1610,1 
pero la baja inclinación de los anillos y la baja resolución de su telescopio le hicieron pensar en un principio que se trataba de
grandes lunas.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('ura')">Urà</button>
	
	</div>	
	
</jsv-content>
