<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    El Sol
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">El Sol</h1>
		
		<p>
		El Sol (del latín sol, solis, a su vez de la raíz protoindoeuropea sauel-)4 es una estrella del tipo espectral G2 que se encuentra en el centro del sistema solar y constituye la mayor fuente de radiación electromagnética de este sistema planetario.5 La Tierra y otros cuerpos (incluidos otros planetas, asteroides, meteoroides, cometas y polvo) orbitan alrededor del Sol.5 Por sí solo, representa alrededor del 99,86 % de la masa del sistema solar.6 La distancia media del Sol a la Tierra fue definida exactamente por la Unión Astronómica Internacional en 149 597 870 700 metros7 (aproximadamente 150 millones de kilómetros). Su luz recorre esta distancia en 8 minutos y 19 segundos. La energía del Sol, en forma de luz solar, sustenta a casi todas las formas de vida en la Tierra a través de la fotosíntesis, y determina el clima de la Tierra y la meteorología.
		</p>
		<!--
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('Inici')">Inici</button>
		-->
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('Mercuri')">Mercuri</button>
		
	</div>
	
</jsv-content>
