<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Terra
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
		
		<img src="https://1888.org/images/2013/04/20/10869/earth-b.png" alt="Foto Terra" width="300" height="300">
	
		<h1 class="paddingFull10">Terra</h1>
	
	<p>
	La Tierra se formó hace aproximadamente 4550 millones de años y la vida surgió unos mil millones de años después.
	18 Es el hogar de millones de especies, incluyendo los seres humanos y actualmente el único cuerpo astronómico
	donde se conoce la existencia de vida.19 La atmósfera y otras condiciones abióticas han sido alteradas
	significativamente por la biosfera del planeta, favoreciendo la proliferación de organismos aerobios, así como la
	formación de una capa de ozono que junto con el campo magnético terrestre bloquean la radiación solar dañina,
	permitiendo así la vida en la Tierra.20 Las propiedades físicas de la Tierra, la historia geológica y su órbita han 
	permitido que la vida siga existiendo. Se estima que el planeta seguirá siendo capaz de sustentar vida durante otros
	500 millones de años, ya que según las previsiones actuales, pasado ese tiempo la creciente luminosidad del Sol
	terminará causando la extinción de la biosfera.21 22 23 La superficie terrestre o corteza está dividida en varias 
	placas tectónicas que se deslizan sobre el magma durante periodos de varios millones de años.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('mart')">Mart</button>
	
	</div>	
	
</jsv-content>
