<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inicik</button-header-left>
    Urà
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
		
		<img src="http://spaceplace.nasa.gov/review/uranus/neptune.png" alt="Foto Sol" width="300" height="300">
	
		<h1 class="paddingFull10">Pàgina C</h1>
	
	<p>
Urano es el séptimo planeta del Sistema Solar, el tercero en cuanto a mayor tamaño, de mayor a menor, y el cuarto más masivo. Se llama
así en honor de la divinidad griega del cielo Urano (del griego antiguo «Οὐρανός») el padre de Crono (Saturno) y el abuelo de Zeus
(Júpiter). Aunque es detectable a simple vista en el cielo nocturno, no fue catalogado como planeta por los astrónomos de la antigüedad
debido a su escasa luminosidad y a la lentitud de su órbita.16 Sir William Herschel anunció su descubrimiento el 13 de marzo de 1781,
ampliando las fronteras conocidas del Sistema Solar hasta entonces por primera vez en la historia moderna. Urano es también el primer
planeta descubierto por medio de un telescopio.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('neptu')">Neptu</button>
	
	</div>	
	
</jsv-content>
