<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inicik</button-header-left>
    Venus
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
		
		<img src="http://ciera.northwestern.edu/news/JPG/venus2.gif" alt="Foto Sol" width="300" height="300">
	
		<h1 class="paddingFull10">Pàgina C</h1>
	
	<p>
	Venus es el segundo planeta del Sistema Solar en orden de distancia desde el Sol, y el tercero en cuanto a tamaño,
	de menor a mayor. Recibe su nombre en honor a Venus, la diosa romana del amor. Se trata de un planeta de tipo rocoso
	y terrestre, llamado con frecuencia el planeta hermano de la Tierra, ya que ambos son similares en cuanto a tamaño, 
	masa y composición, aunque totalmente diferentes en cuestiones térmicas y atmosféricas. La órbita de Venus es una elipse
	con una excentricidad de menos del 1 %, formando la órbita más circular de todos los planetas; apenas supera la de Neptuno.
	Su presión atmosférica es 90 veces superior a la terrestre; es por tanto la mayor presión atmosférica de todos los planetas
	rocosos. A pesar de estar situado más lejos del Sol que Mercurio, Venus posee la atmósfera más caliente, pues esta atrapa
	mucho más calor del Sol, debido a que está compuesta principalmente por gases de invernadero, como el dióxido de carbono.
	</p>	
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('venus')">terra</button>
	
	</div>	
	
</jsv-content>
